@model Exam.Mvc.Models.DetailedTicketViewModel
@{
    ViewBag.Title = "Ticket Details";
}

<h2>@Model.Title</h2>
<h3><strong>Category: </strong>@Model.CategoryName</h3>
<div class="row">
    <div class="span4">
        <div><strong>Author: </strong>@Model.AuthorName</div>
        <div><strong>Priority: </strong>@Model.Priority</div>
    </div>
    @if (!string.IsNullOrEmpty(Model.ScreenshotUrl))
    {
        <div class="span4">
            <img src="@Model.ScreenshotUrl" alt="@Model.Title" />
        </div>
    }
    @if (!string.IsNullOrEmpty(Model.Description))
    {
        <div class="span4">
            <strong>Description: </strong>
            @Model.Description
        </div>
    }
</div>

<div id="Comments">
    @foreach (var comment in Model.Comments)
    {
        @Html.Partial("_Comment", comment);
    }
</div>

<div id="commentArea">
    @if (User.Identity.IsAuthenticated)
    {
        using (Ajax.BeginForm("PostComment", new AjaxOptions
            {
                HttpMethod = "Post",
                InsertionMode = InsertionMode.InsertAfter,
                UpdateTargetId = "Comments",
                OnFailure = "commentPostFailure"
            }))
        {
            @Html.Hidden("TicketId", Model.Id)
            @Html.TextArea("comment", new { rows = 5, width = "500" })
            @Html.AntiForgeryToken()
            <div><input type="submit" value="Submit comment" class="btn" /></div>
        }
    }
</div>

<script>
    function commentPostFailure() {
        alert("The comment is not valid.");
    }
</script>

